In [106]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [134]:
input_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
# Merging the two data frames for better account on missing values and feature engineering
df = pd.concat([input_df, test_df])
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)
df = df.reindex_axis(input_df.columns, axis=1)
df.shape
df.columns
#deal with missing values
df['Cabin'].fillna('U0',inplace=True)
fare_median = df['Fare'].dropna().median()
df['Fare'].fillna(fare_median, inplace=True)
embarked_mode = df['Embarked'].dropna().mode().values[0]
df['Embarked'].fillna(embarked_mode, inplace=True)
#df.columns[pd.isnull(df).any()]


#transform to numeric data as sklearn accepts only numeric data
import re

df['CabinLetter'] = df['Cabin'].map(lambda x : re.compile("([a-zA-Z]+)").search(x).group())
df['CabinLetter'] = pd.factorize(df['CabinLetter'])[0]

#dividing into quartiles
df['FareBin'] = pd.factorize(pd.qcut(df['Fare'], 4))[0]
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,CabinLetter,FareBin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,U0,S,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,U0,S,0,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,U0,S,0,2
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,U0,Q,0,2
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,2,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,U0,S,0,3
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,U0,S,0,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,U0,C,0,3
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,3,3
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1,3
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,U0,S,0,2
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,U0,S,0,3
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,U0,S,0,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,U0,S,0,3
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,U0,Q,0,3
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,U0,S,0,2
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,U0,S,0,3
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,U0,C,0,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,U0,S,0,3
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,4,2
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,U0,Q,0,2
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,5,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,U0,S,0,3
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,U0,S,0,1
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,U0,C,0,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,1,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,U0,Q,0,0
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,U0,S,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,1280,NaN,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,U0,Q,0,0
1280,1281,NaN,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,U0,S,0,3
1281,1282,NaN,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S,6,1
1282,1283,NaN,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,4,1
1283,1284,NaN,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,U0,S,0,3
1284,1285,NaN,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,U0,S,0,2
1285,1286,NaN,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,U0,S,0,3
1286,1287,NaN,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S,1,1
1287,1288,NaN,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,U0,Q,0,0
1288,1289,NaN,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,6,1
1289,1290,NaN,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,U0,S,0,0
1290,1291,NaN,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,U0,Q,0,0
1291,1292,NaN,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,1,1
1292,1293,NaN,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,U0,S,0,3
1293,1294,NaN,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,U0,C,0,1
1294,1295,NaN,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,U0,S,0,1
1295,1296,NaN,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,4,3
1296,1297,NaN,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C,4,2
1297,1298,NaN,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,U0,S,0,2
1298,1299,NaN,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,1,1
1299,1300,NaN,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,U0,Q,0,0
1300,1301,NaN,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,U0,S,0,2
1301,1302,NaN,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,U0,Q,0,0
1302,1303,NaN,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,1,1
1303,1304,NaN,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,U0,S,0,0
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,U0,S,0,2
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1,1
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,U0,S,0,0
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,U0,S,0,2
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,U0,C,0,3

In [135]:
#Derived Variables
df['Names'] = df['Name'].map(lambda x : len(re.split(' ',x)))

# What is each person's title? 
df['Title'] = df['Name'].map(lambda x: re.compile(", (.*?)\.").findall(x)[0])
 
# Group low-occuring, related titles together
df['Title'][df.Title == 'Jonkheer'] = 'Master'
df['Title'][df.Title.isin(['Ms','Mlle'])] = 'Miss'
df['Title'][df.Title == 'Mme'] = 'Mrs'
df['Title'][df.Title.isin(['Capt', 'Don', 'Major', 'Col', 'Sir'])] = 'Sir'
df['Title'][df.Title.isin(['Dona', 'Lady', 'the Countess'])] = 'Lady'



def getTicketPrefix(ticket):
    match = re.compile("([a-zA-Z\.\/]+)").search(ticket)
    if match:
        return match.group()
    else:
        return 'U'
 
def getTicketNumber(ticket):
    match = re.compile("([\d]+$)").search(ticket)
    if match:
        return match.group()
    else:
        return '0'
    
    
df['TicketPrefix'] = df['Ticket'].map( lambda x : getTicketPrefix(x.upper()))
df['TicketPrefix'] = df['TicketPrefix'].map( lambda x: re.sub('[\.?\/?]', '', x) )
df['TicketPrefix'] = df['TicketPrefix'].map( lambda x: re.sub('STON', 'SOTON', x) )



# factorize the prefix to create a numerical categorical variable
df['TicketPrefixId'] = pd.factorize(df['TicketPrefix'])[0]

# extract the ticket number
df['TicketNumber'] = df['Ticket'].map( lambda x: getTicketNumber(x) )

# create a feature for the number of digits in the ticket number
df['TicketNumberDigits'] = df['TicketNumber'].map( lambda x: len(x) ).astype(np.int)

# create a feature for the starting number of the ticket number
df['TicketNumberStart'] = df['TicketNumber'].map( lambda x: x[0:1] ).astype(np.int)

# The prefix and (probably) number themselves aren't useful
df.drop(['TicketPrefix', 'TicketNumber'], axis=1, inplace=True)
#df.columns[pd.isnull(df).any()]
df

/home/makala/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/makala/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/makala/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/makala/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/makala/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,CabinLetter,FareBin,Names,Title,TicketPrefixId,TicketNumberDigits,TicketNumberStart
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,U0,S,0,0,4,Mr,0,5,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1,7,Mrs,1,5,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,U0,S,0,2,3,Miss,2,7,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,1,7,Mrs,3,6,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,U0,S,0,2,4,Mr,3,6,3
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,U0,Q,0,2,3,Mr,3,6,3
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,2,1,4,Mr,3,5,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,U0,S,0,3,4,Master,3,6,3
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,U0,S,0,2,7,Mrs,3,6,3
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,U0,C,0,3,5,Mrs,3,6,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,3,3,4,Miss,4,4,9
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1,3,3,Miss,3,6,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,U0,S,0,2,4,Mr,0,4,2
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,U0,S,0,3,4,Mr,3,6,3
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,U0,S,0,0,5,Miss,3,6,3
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,U0,S,0,3,6,Mrs,3,6,2
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,U0,Q,0,3,3,Master,3,6,3
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,U0,S,0,2,4,Mr,3,6,2
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,U0,S,0,3,7,Mrs,3,6,3
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,U0,C,0,0,3,Mrs,3,4,2
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,U0,S,0,3,4,Mr,3,6,2
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,4,2,3,Mr,3,6,2
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,U0,Q,0,2,4,Miss,3,6,3
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,5,1,4,Mr,3,6,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,U0,S,0,3,4,Miss,3,6,3
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,U0,S,0,1,8,Mrs,3,6,3
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,U0,C,0,0,4,Mr,3,4,2
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,1,1,4,Mr,3,5,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,U0,Q,0,0,4,Miss,3,6,3
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,U0,S,0,0,3,Mr,3,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,1280,NaN,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,U0,Q,0,0,3,Mr,3,6,3
1280,1281,NaN,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,U0,S,0,3,4,Master,3,6,3
1281,1282,NaN,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S,6,1,4,Mr,3,5,1
1282,1283,NaN,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,4,1,7,Mrs,1,5,1
1283,1284,NaN,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,U0,S,0,3,4,Master,5,4,2
1284,1285,NaN,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,U0,S,0,2,3,Mr,5,5,3
1285,1286,NaN,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,U0,S,0,3,3,Mr,3,6,3
1286,1287,NaN,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S,1,1,7,Mrs,3,5,1
1287,1288,NaN,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,U0,Q,0,0,3,Mr,3,6,3
1288,1289,NaN,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,6,1,6,Mrs,3,5,1
1289,1290,NaN,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,U0,S,0,0,4,Mr,3,6,3
1290,1291,NaN,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,U0,Q,0,0,4,Mr,3,5,2
1291,1292,NaN,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,1,1,3,Miss,3,5,3
1292,1293,NaN,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,U0,S,0,3,3,Mr,3,5,2
1293,1294,NaN,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,U0,C,0,1,4,Miss,3,6,1
1294,1295,NaN,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,U0,S,0,1,4,Mr,3,6,1
1295,1296,NaN,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,4,3,4,Mr,3,5,1
1296,1297,NaN,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C,4,2,6,Mr,6,4,2
1297,1298,NaN,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,U0,S,0,2,4,Mr,3,5,2
1298,1299,NaN,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,1,1,4,Mr,3,6,1
1299,1300,NaN,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,U0,Q,0,0,4,Miss,3,6,3
1300,1301,NaN,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,U0,S,0,2,3,Miss,11,7,3
1301,1302,NaN,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,U0,Q,0,0,3,Miss,3,6,3
1302,1303,NaN,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,1,1,7,Mrs,3,5,1
1303,1304,NaN,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,U0,S,0,0,4,Miss,3,6,3
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,U0,S,0,2,3,Mr,0,4,3
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1,1,5,Lady,1,5,1
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,U0,S,0,0,4,Mr,11,7,3
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,U0,S,0,2,3,Mr,3,6,3
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,U0,C,0,3,4,Master,3,4,2

In [136]:
# fill missing ages

df['Embarked'] = pd.factorize(df['Embarked'])[0]
df['Title'] = pd.factorize(df['Title'])[0]

from sklearn import linear_model

age_df = df[['Age','Pclass', 'SibSp', 'Parch', 'Fare', 'CabinLetter', 'Embarked', 'Title','Names']]
known_age = age_df.loc[df.Age.notnull()]
unknown_age = age_df.loc[df.Age.isnull()]
x = known_age.values[:,1::]
y = known_age.values[:,0]

regr =linear_model.LinearRegression()
regr.fit(x,y)

predicted_ages = regr.predict(unknown_age.values[:,1::])
df.loc[df.Age.isnull(), 'Age'] = predicted_ages
df1 = df
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,CabinLetter,FareBin,Names,Title,TicketPrefixId,TicketNumberDigits,TicketNumberStart
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,U0,0,0,0,4,0,0,5,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,1,1,1,7,1,1,5,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,U0,0,0,2,3,2,2,7,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,0,1,1,7,1,3,6,1
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,U0,0,0,2,4,0,3,6,3
5,6,0,3,"Moran, Mr. James",male,28.312481,0,0,330877,8.4583,U0,2,0,2,3,0,3,6,3
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,0,2,1,4,0,3,5,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,U0,0,0,3,4,3,3,6,3
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,U0,0,0,2,7,1,3,6,3
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,U0,1,0,3,5,1,3,6,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,G6,0,3,3,4,2,4,4,9
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,C103,0,1,3,3,2,3,6,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,U0,0,0,2,4,0,0,4,2
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,U0,0,0,3,4,0,3,6,3
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,U0,0,0,0,5,2,3,6,3
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.000000,0,0,248706,16.0000,U0,0,0,3,6,1,3,6,2
16,17,0,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,U0,2,0,3,3,3,3,6,3
17,18,1,2,"Williams, Mr. Charles Eugene",male,35.149097,0,0,244373,13.0000,U0,0,0,2,4,0,3,6,2
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.000000,1,0,345763,18.0000,U0,0,0,3,7,1,3,6,3
19,20,1,3,"Masselmani, Mrs. Fatima",female,24.873465,0,0,2649,7.2250,U0,1,0,0,3,1,3,4,2
20,21,0,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,U0,0,0,3,4,0,3,6,2
21,22,1,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,D56,0,4,2,3,0,3,6,2
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.000000,0,0,330923,8.0292,U0,2,0,2,4,2,3,6,3
23,24,1,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,A6,0,5,1,4,0,3,6,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.000000,3,1,349909,21.0750,U0,0,0,3,4,2,3,6,3
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.000000,1,5,347077,31.3875,U0,0,0,1,8,1,3,6,3
26,27,0,3,"Emir, Mr. Farred Chehab",male,28.666439,0,0,2631,7.2250,U0,1,0,0,4,0,3,4,2
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,C23 C25 C27,0,1,1,4,0,3,5,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,23.874914,0,0,330959,7.8792,U0,2,0,0,4,2,3,6,3
29,30,0,3,"Todoroff, Mr. Lalio",male,26.920000,0,0,349216,7.8958,U0,0,0,0,3,0,3,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,1280,NaN,3,"Canavan, Mr. Patrick",male,21.000000,0,0,364858,7.7500,U0,2,0,0,3,0,3,6,3
1280,1281,NaN,3,"Palsson, Master. Paul Folke",male,6.000000,3,1,349909,21.0750,U0,0,0,3,4,3,3,6,3
1281,1282,NaN,1,"Payne, Mr. Vivian Ponsonby",male,23.000000,0,0,12749,93.5000,B24,0,6,1,4,0,3,5,1
1282,1283,NaN,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.000000,0,1,PC 17592,39.4000,D28,0,4,1,7,1,1,5,1
1283,1284,NaN,3,"Abbott, Master. Eugene Joseph",male,13.000000,0,2,C.A. 2673,20.2500,U0,0,0,3,4,3,5,4,2
1284,1285,NaN,2,"Gilbert, Mr. William",male,47.000000,0,0,C.A. 30769,10.5000,U0,0,0,2,3,0,5,5,3
1285,1286,NaN,3,"Kink-Heilmann, Mr. Anton",male,29.000000,3,1,315153,22.0250,U0,0,0,3,3,0,3,6,3
1286,1287,NaN,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.000000,1,0,13695,60.0000,C31,0,1,1,7,1,3,5,1
1287,1288,NaN,3,"Colbert, Mr. Patrick",male,24.000000,0,0,371109,7.2500,U0,2,0,0,3,0,3,6,3
1288,1289,NaN,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.000000,1,1,13567,79.2000,B41,1,6,1,6,1,3,5,1
1289,1290,NaN,3,"Larsson-Rondberg, Mr. Edvard A",male,22.000000,0,0,347065,7.7750,U0,0,0,0,4,0,3,6,3
1290,1291,NaN,3,"Conlon, Mr. Thomas Henry",male,31.000000,0,0,21332,7.7333,U0,2,0,0,4,0,3,5,2
1291,1292,NaN,1,"Bonnell, Miss. Caroline",female,30.000000,0,0,36928,164.8667,C7,0,1,1,3,2,3,5,3
1292,1293,NaN,2,"Gale, Mr. Harry",male,38.000000,1,0,28664,21.0000,U0,0,0,3,3,0,3,5,2
1293,1294,NaN,1,"Gibson, Miss. Dorothy Winifred",female,22.000000,0,1,112378,59.4000,U0,1,0,1,4,2,3,6,1
1294,1295,NaN,1,"Carrau, Mr. Jose Pedro",male,17.000000,0,0,113059,47.1000,U0,0,0,1,4,0,3,6,1
1295,1296,NaN,1,"Frauenthal, Mr. Isaac Gerald",male,43.000000,1,0,17765,27.7208,D40,1,4,3,4,0,3,5,1
1296,1297,NaN,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.000000,0,0,SC/PARIS 2166,13.8625,D38,1,4,2,6,0,6,4,2
1297,1298,NaN,2,"Ware, Mr. William Jeffery",male,23.000000,1,0,28666,10.5000,U0,0,0,2,4,0,3,5,2
1298,1299,NaN,1,"Widener, Mr. George Dunton",male,50.000000,1,1,113503,211.5000,C80,1,1,1,4,0,3,6,1
1299,1300,NaN,3,"Riordan, Miss. Johanna Hannah""""",female,23.875068,0,0,334915,7.7208,U0,2,0,0,4,2,3,6,3
1300,1301,NaN,3,"Peacock, Miss. Treasteall",female,3.000000,1,1,SOTON/O.Q. 3101315,13.7750,U0,0,0,2,3,2,11,7,3
1301,1302,NaN,3,"Naughton, Miss. Hannah",female,22.825768,0,0,365237,7.7500,U0,2,0,0,3,2,3,6,3
1302,1303,NaN,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.000000,1,0,19928,90.0000,C78,2,1,1,7,1,3,5,1
1303,1304,NaN,3,"Henriksson, Miss. Jenny Lovisa",female,28.000000,0,0,347086,7.7750,U0,0,0,0,4,2,3,6,3
1304,1305,NaN,3,"Spector, Mr. Woolf",male,26.919850,0,0,A.5. 3236,8.0500,U0,0,0,2,3,0,0,4,3
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.000000,0,0,PC 17758,108.9000,C105,1,1,1,5,7,1,5,1
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,U0,0,0,0,4,0,11,7,3
1307,1308,NaN,3,"Ware, Mr. Frederick",male,26.919850,0,0,359309,8.0500,U0,0,0,2,3,0,3,6,3
1308,1309,NaN,3,"Peter, Master. Michael J",male,17.088292,1,1,2668,22.3583,U0,1,0,3,4,3,3,4,2

In [151]:
df1.columns[pd.isnull(df).any()]
df1 = df.copy()
df1
scaler = preprocessing.StandardScaler()
df1[['Age','Fare','Pclass','Parch','SibSp','Names','CabinLetter', 'FareBin'  ]] =\
scaler.fit_transform(df1[['Age','Fare','Pclass','Parch','SibSp','Names','CabinLetter', 'FareBin' ]])
df1

numerics = df1.loc[:,['Age','Fare','Pclass','Parch','SibSp','Names','CabinLetter', 'FareBin']]
numerics
for i in range(0, numerics.columns.size-1):
    for j in range(0, numerics.columns.size-1):
        col1 = str(numerics.columns.values[i])
        col2 = str(numerics.columns.values[j])
        # multiply fields together (we allow values to be squared)
        if i <= j:
            name = col1 + "*" + col2
            df1 = pd.concat([df1, pd.Series(numerics.iloc[:,i] * numerics.iloc[:,j], name=name)], axis=1)
        # add fields together
        if i < j:
            name = col1 + "+" + col2
            df1 = pd.concat([df1, pd.Series(numerics.iloc[:,i] + numerics.iloc[:,j], name=name)], axis=1)
        # divide and subtract fields from each other
        if not i == j:
            name = col1 + "/" + col2
            df1 = pd.concat([df1, pd.Series(numerics.iloc[:,i] / numerics.iloc[:,j], name=name)], axis=1)
            name = col1 + "-" + col2
            df1 = pd.concat([df1, pd.Series(numerics.iloc[:,i] - numerics.iloc[:,j], name=name)], axis=1)
len(df1.columns)

/home/makala/anaconda/lib/python2.7/site-packages/pandas/core/index.py:926: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 152 but corresponding boolean dimension is 19
  result = getitem(key)

152

In [185]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import cross_validation

train = df1[df1.Survived.notnull()]
train.columns
train.drop(['PassengerId','Name', 'Ticket', 'Cabin'], axis = 1,inplace = True)
train['Sex'] = pd.factorize(train['Sex'])[0]
x = train.values[:,1::]
y = train.values[:,0]

#forest = RandomForestClassifier(oob_score = True, n_estimators = 10000)
#scores = cross_validation.cross_val_score(forest,x,y,cv=10)
#print scores.mean()

/home/makala/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/makala/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [172]:
forest.fit(x,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10000, n_jobs=1, oob_score=True,
            random_state=None, verbose=0, warm_start=False)

In [177]:
imp = forest.feature_importances_
imp = 100.0 * (imp / imp.max())
important_idx = np.where(imp > 15)[0]
important_idx = [index+1 for index in important_idx]

f = train.columns[important_idx]
f

Index([u'Sex', u'Title', u'Age*Fare', u'Age+Pclass', u'Age+SibSp', u'Age-Names', u'Fare-Age', u'Fare-Pclass', u'Fare+Names', u'Fare+CabinLetter', u'Pclass-Fare', u'Names-Age', u'Names+CabinLetter'], dtype='object')

In [ ]:
train = train[['Survived']+list(f)]
train
x = train.values[:,1::]
y = train.values[:,0]
# for i in range (100, 400, 20)
forest = RandomForestClassifier(oob_score = True, n_estimators = 1000)
scores = cross_validation.cross_val_score(forest,x,y,cv=10)
print scores.mean()
#forest.fit(x,y)

In [193]:
forest.fit(x,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=1000, n_jobs=1, oob_score=True, random_state=None,
            verbose=0, warm_start=False)

In [201]:
test = df1[df1.Survived.isnull()]
p_ids = test['PassengerId']
test = test[['Sex', u'Title', u'Age*Fare', u'Age+Pclass', u'Age+SibSp', u'Age-Names', u'Fare-Age', u'Fare-Pclass', u'Fare+Names', u'Fare+CabinLetter', u'Pclass-Fare', u'Names-Age', u'Names+CabinLetter']]
test['Sex'] = pd.factorize(test['Sex'])[0]
test_pred = forest.predict(test)
pred = [int(val) for val in list(test_pred) ]
p_ids.shape

(418,)

In [202]:
survived = np.asanyarray(pred)
ans = pd.DataFrame(data = p_ids)
ans["Survived"] = survived
ans.to_csv("rfmodel_uv.csv",index=False)